* {
    margin: 0;
    box-sizing: border-box;
}
body{
    z-index: -1000;
    background-color: #f8f8f8;
}

header {
    background-color: thistle;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: 25vw;
}

.separar1 {
    display: flex;
    width: 67vw;
    gap: 750px;
}

.separar2 {
    display: flex;
    width: 33vw;
    justify-content: end;
    padding: 20px;
}

.menu {
    width: 44px;
    height: 33px;
    margin-left: 65px;
}

.nomePorsche {
    width: 200px;
    height: 13px;
}

.conjuntoHeader {
    display: flex;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
}

.pessoaDiv {
    background-color: gray;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;

}

.pessoa {
    width: 15px;
    height: 15px;
}

.botaoLocalizar {
    background-color: black;
    height: 35px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    width: 150px;
    gap: 15px;
    padding: 10px;
}

.localizar {
    height: 10px;
    width: 10px;
}

.txtLocalizar {
    color: white;
    font-size: 12px;
}

main{
    height: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.porscheImg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -999;
    width: 80vw;
}
.menuCompra{
    display: flex;
    flex-direction: row;
}